body, html {
  /* Ensure the browser window is used fully */
  margin: 0;
  padding: 0;
  height: 100%;
}

canvas {
  display: block;
  background: #a9dbb8; /* A background that suggests a forest/field */
  /* Make canvas fill the viewport */
  width: 100vw;
  height: 100vh;
}

/* Add these classes for the trees */
.tree-top {
  transform: scaleY(-1); /* This will flip the top tree upside down */
}
